*{
	box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*index.html css*/
.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    height: 25px;
}

.uvod1{
    background-image: url("../obrazky/drevo-pozadie.jpg");
    background-size: cover;
    height: 60vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar a{
    color: white;
    text-decoration: none

}

.nav-bar a.uvod-menu{
    background: white;
    color: black;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px; 
}

.nav-bar a:hover{
    color: rgb(198, 195, 195);
}

.logo {
    width: 150px;
    height: auto;
}

.uvod-content1{
    display: flex;
    padding: 80px;
    gap: 40px;
    align-items: flex-start;
}

.text1{
    color: white;
    flex: 1;
}

.obrazok1-img{
    flex: 1;
    height: 350px;
    width: 500px;
}

.uvod-content2{
    background-color: #4F4139;
    display: flex;
    padding: 150px;
    padding-top: 30vh;
    gap: 30vh;
    align-items: flex-start;
}

.text2{
    color: white;
    flex: 1;
}

.obrazok2-img{
    flex: 1;
    height: 350px;
    width: 500px;
}

.uvod-content3{
    background-image: url(/obrazky/drevo-pozadie.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.uvod-content3 h2{
    margin: 0;
    padding-top: 50px;
    
}

.sluzby-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.zobrazit-viac-btn{
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.footer{
    display: flex;
	justify-content: space-between;
    align-items: center;
	flex-direction: row;
    background-color: black;
    color: white;
   padding: 15px ;
}

